@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");

body {
	font-family: $font-main;
	background-color: $dark;
	color: $white;
	font-size: 16px;
}

a {
	color: $white;
	transition: color 1.3s;
	&:hover {
		color: $accent;
		transition: color 0.3s;
	}
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1140px;
	&--small {
		max-width: 840px;
	}
}
.text-right {
	text-align: right;
}
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.title-2 {
	font-family: $font-accent;
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	color: $accent;
}
.link-bold {
	color: $accent;
	font-weight: 700;
}
