.benefits {
	padding-top: 120px;
}

.benefits__row {
	display: flex;
	column-gap: 70px;
}
.benefits__item {
	text-align: center;
}
.benefits__item-img {
	margin-bottom: 53px;
}
.benefits__item-text {
	font-family: $font-second;
	font-weight: 300;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
}
